body {
    margin: 0;
    padding: 0;
}
#content {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
}
#menu-container {
    width: 230px;
    height: 768px;
    background-color: #363537;
    float: left;
}
#menu {
    color: #fff;
}
#operations-container {
    width: 794px;
    height: 768px;
    float: right;
}
h4 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    size: 12px;
    text-align: center;
    font-weight: none;
    padding-top: 35px;
    padding-bottom: 35px;
}
#keyboard {
    width: 260px;
    height: 255px;
    border: 1px #363537 solid;
    float: left;
    background-color: #FBF3F1;
    margin-top: 10px;
}
#keyboard-result {
    width: 200px;
    margin:10px auto;
}
.numeric-input {
    width: 200px;
    height: 40px;
    background-color: #ffffff; 
    font-size: 16px;
    font-weight: bold;
    color: #E4572E;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 20px;
    text-align:right; 
    vertical-align:middle;
    margin: 0 auto;
}
.numeric-grid {
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-auto-rows: 50px;
    background: #FBF3F1;
    grid-gap:1px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.numeric-grid > div {
    background: #FBF3F1;
    padding: 1px;   
}
.no1 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.no2 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.no3 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.no4 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.no5 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.no6 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.no7 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.no8 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.no9 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;    
    border: 1px solid #eeeeee;
}
.no0 button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.dot button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
.delete-sign button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #363537;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #eeeeee;
}
#catalog-container {
    width: 520px;
    height: 255px;
    border: 1px #363537 solid;
    float: right;
    padding-top: 10px;
}
#catalog {
    width: 440px;
    height: 190px;
    float: left;
    /*border: 1px solid #363537;*/
}
.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 108px);
    grid-auto-rows: minmax(94px, auto);
    grid-gap: 2px;
    grid-column-gap: 2px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.category-grid button {
    width:108px;
    height:94px;
    border-radius: 4px;
    background-color: #E1E1E1;
    font-size: 14px;
    color: #000;
    text-align: center;    
    border-color: 1px solid #eee;
}
#catalog-navigation {
    width: 60px;
    height: 190px;
    border: 0.5px #363537 solid;
    float: right;
}
.btn-up {
    width:60px; 
    height: 60px; 
    border-radius: 4px;
    background-image:url(buttonup.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #ffffff;
    border-color: 1px solid #eee;
}
.btn-down {
    width:60px; 
    height: 60px; 
    border-radius: 4px;
    background-image:url(buttondown.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #ffffff;
    border-color: 1px solid #eee;
    margin-top: 70px;
}
#search {
    width: 440px;
    height: 32px;
    border: 1px #363537 solid;
    clear: both;
}
#order-items {
    width: 794px;
    height: 300px;
    border: 1px #363537 solid;
    clear: both;
}
#payment-container {
    width: 794px;
    height: 150px;
    border: 1px #363537 solid;
    clear: both;
}
#receipt {
    width: 510px;
    height: 124px;
    border: 1px #363537 solid;
    float:left;
}
#order-info {
    width: 510px;
    height: 70px;
    border: 1px #363537 solid;
}
#payment-methods {
    width: 510px;
    height: 50px;
    border: 1px #363537 solid;
}
#advanced-payment {
    width: 270px;
    height: 140px;
    border: 1px #363537 solid;
    float: right;
}