body {
    margin: 0;
    padding: 0;
}
#content {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
}
#menu-container {
    width: 230px;
    height: 768px;
    background-color: #363537;
    float: left;
}
#menu {
    color: #fff;
}
#operations-container {
    width: 794px;
    height: 768px;
    float: right;
}
h4 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    size: 12px;
    text-align: center;
    font-weight: none;
    padding-top: 35px;
    padding-bottom: 35px;
}
p {
    font: Open sans-serif;
    size: 14px;
    text-align: left;
    font-weight: none;
}
#keyboard {
    width: 230px;
    height: 242px;
    border-radius: 4px;
    border: 0.5px #eee solid;
    float: left;
    background-color: #EEE;
    margin-top: 10px;
    margin-left: 10px;
}
#keyboard-result {
    width: 200px;
    margin:10px auto;
}
.numeric-input {
    width: 200px;
    height: 40px;
    background-color: #ffffff; 
    font-size: 16px;
    font-weight: bold;
    color: #E4572E;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 20px;
    text-align:right; 
    vertical-align:middle;
    margin: 0 auto;
}
.numeric-grid {
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-auto-rows: 50px;
    background: #EEE;
    grid-gap:1px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.numeric-grid > div {
    background: #eee;
    padding: 1px;   
}
.numeric-grid button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #E4572E;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #ffffff;
}
.delete-sign button{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #363537;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
}
#catalog-container {
    width: 540px;
    height: 255px;
    border: 0.5px #fff solid;
    float: right;
    padding-top: 10px;
    border: 0.5px #fff solid;
}
#catalog {
    width: 460px;
    height: 190px;
    float: left;
    border: 0.5px solid #fff;
    margin-bottom: 10px;
}
.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 115px);
    grid-auto-rows: minmax(94px, auto);
    grid-gap: 2px;
    grid-column-gap: 1px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.category-grid button {
    width:112px;
    height:94px;
    border-radius: 4px;
    background-color: #E1E1E1;
    font-size: 14px;
    color: #000;
    text-align: center;    
    border-color: 1px solid #eee;
    font-weight: 600;
}
#catalog-navigation {
    width: 60px;
    height: 190px;
    border: none;
    float: right;
    padding-left: 19px;
}
.navigation-grid {
    display: grid;
    grid-template-columns: repeat(1, 50px);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 2px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.btn-up {
    width: 50px; 
    height: 50px; 
    border-radius: 8px;
    background-image:url(arrowup30x27.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #ffffff;
    border-color: 0.5px solid #eee;
}
.btn-back {
    width: 50px; 
    height: 50px; 
    border-radius: 8px;
    background-image:url(backbtn30x27.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #ffffff;
    border-color: 0.5px solid #eee;
    margin: 17px 0px 17px 0px;
}
.btn-down {
    width:50px; 
    height: 50px; 
    border-radius: 8px;
    background-image:url(arrowdown30x27.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #ffffff;
    border-color: 0.5px solid #eee;
}
#search {
    width: 460px;
    height: 40px;
    border: 0.5px #fff solid;
    clear: both;
}
.search-input {
    width: 460px;
    height: 40px;
    background-color: #fff; 
    background-image: url(iconsearch.png);
    background-position: left;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border: 2px solid #eee;
    border-radius: 8px;
    text-align:left; 
    align-items: center;
    padding-left: 30px;
    vertical-align:middle;
    margin: 0 auto;
}
#order-items {
    width: 794px;
    height: 300px;
    border: 0.5px #fff solid;
    background-color: #ffffff;
    clear: both;
}
.order-header-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-auto-rows: minmax(40px, auto);
    grid-gap: 2px 2px;
    background-color: #E1E1E1;
    padding-left: 10px;
    align-items: center;
    justify-content: left;
    border: 1px #EEE solid;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}
.order-contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));   
    grid-auto-rows: minmax(40px, auto);
    grid-gap: 1px 1px;
    background-color: #fff;
    padding-left: 10px;
    align-items: center;
    justify-content: left;
    border: 1px #eee solid;
    border-radius: 2px;
    font-size: 16px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
}
.item {
    width: 100px;
    height: minmax(40px,auto);
    background-color: #fff;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 16px;
    color: black;
    justify-content: left;
}
#payment-container {
    width: 794px;
    height: 200px;
    border: 0.5px #000 solid;
    clear: both;
}
#receipt {
    width: 510px;
    height: 124px;
    border: 1px #fff solid;
    float:left;
}
.payment-methods-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));   
    grid-auto-rows: minmax(40px, auto);
    grid-gap: 1px 1px;
    background-color: #fff;
    padding-left: 10px;
    align-items: center;
    justify-content: left;
    border: 1px #eee solid;
    border-radius: 2px;
    font-size: 16px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
}
#order-info {
    width: 510px;
    height: 70px;
    border: 1px #EEE solid;
}
.receipt-header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 2px 2px;
    background-color: #363537;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}
#payment-methods-grid {
    width: 510px;
    height: 70px;
    border: 1px #fff solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
    grid-gap: 2px;
    margin-left: 10px;
    float: right;
}
.numerar {
    width: 130px;
    height: 65px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    background-color: #E4572E;
    align-items: right;
    justify-content: center;
    border: 1px #eee solid;
    color: #fff;
    font-weight: 600;
}
.card {
    width: 140px;
    height: 65px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    background-color: #E4572E;
    align-items: right;
    justify-content: center;
    border: 1px #eee solid;
    color: #fff;
    font-weight: 600;
}
.plata-avansata {
    width: 140px;
    height: 65px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    background-color: #E4572E;
    align-items: right;
    justify-content: center;
    border: 1px #eee solid;
    color: #fff;
    font-weight: 600;
}